/* Register.css */
.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../public/images/nature-9173786_1280.png') no-repeat center center/cover;
}

.register-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  width: 400px;
  text-align: center;
}

.register-card h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.register-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-card button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-card button:hover {
  background-color:  #45a049;
}

.register-card a {
  text-decoration: none;
  color: #007bff;
  margin-top: 10px;
  display: inline-block;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1rem;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}